.Chart{
  z-index:9999;
  text-align:center;
  padding-top:0;
  padding-bottom:0;
}
.Chart svg{
  max-width:100%;
}

.location{
  -webkit-filter: opacity(80%);
}

.location .title{
  z-index:9999;
  font-family: 'dats4';
  font-weight: 100;
  color:gray;
  position: absolute;
  top:20%;
  left: 10%;
  font-size:5rem;

}

footer{
  padding-top:10vh;
}


#method{
  padding-top:5vmin;
  padding-bottom:10vh;
}
.location img{
    z-index:1;
}

.location.hk img{
  padding-top: 10vmin;
  /*padding-left:10vmin;*/
  /*min-height:10vmin;*/
  /*min-width:50vmin;*/
  height:20%;
  width:80%;
  z-index:1000;
}

.location.tw img{
  width:25%;
  padding-top: 10vmin;
  /*width: 40%;*/
  /*min-width:20vmin;*/
  /*max-width:15vmin;*/
  min-width:15vmin;
  height:35%;
  z-index:1000;
}

section.report{
  padding-top:5em;
}


footer {

}


#reports td,th{
  min-width:10vmin;
}
