<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <script src="https://fb.me/react-with-addons-15.0.1.min.js"></script>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en,Intl.~locale.zh"></script>
  <style>
  section.tops{
    padding-top:10vh;
  }
  </style>
</head>
<body>
  <section class="ui container">
    <h2 style="padding-top:5vh;" class="ui centered header">
      港台時事情緒天文台(測試中)
    </h2>
    <div style="text-align:center">
      <span>
每日統計港台Facebook最受歡迎10個新聞媒體專頁Reaction百份比 - <a href="#method" >詳細方法</a>
      </span>

    </div>
    <h2 class="ui horizontal divider header">
      <div id="today"></div>
    </h2>
  </section>
  <section class="ui container">
    <div class="App ui centered aligned two column stackable grid">
      <div class="location hk column center aligned">
        <span>香港</span>
        <img className='map' src="images/hkout.gif"></img>
      </div>
      <div class="column">
        <div id="hk-viz">
        </div>
      </div>
    </div>
  </section>
  <section class="ui container tops">
    <h3 class="ui horizontal divider header">今日頭條</h3>
    <div class="ui segment">
      <div id="hk-tops"></div>
    </div>
  </section>
  <div class="ui divider"></div>
  <section class="ui container">
  </section>
  <section>
    <div class="App ui centered aligned two column stackable grid">
      <div class="column">
        <div id="tw-viz">
        </div>
      </div>
      <div class="location tw column center aligned">
        <span>台灣</span>
        <img className='map' src="images/twout.gif"></img>
      </div>
    </div>
  </section>
  <section class="ui container tops">
    <h3 class="ui horizontal divider header">今日咁既樣</h3>
    <div class="ui segment">
      <div id="tw-tops"></div>
    </div>
  </section>
  <!-- <section class="ui container">
    <h3 class="ui horizontal divider header">七日報告</h3>
  </section> -->
  <section id="method" class="ui container center aligned">
    <h2 class="ui horizontal divider  header">
          方法：
    </h2>
    <div class="">
      TODO
    </div>
  </section>
  <footer class="ui center aligned grid" >
    <span>Inspired by: <a href="https://github.com/mroth/emojitracker">mroth/emojictracker</a></span>
    <div class=""><a href="https://github.com/vincentlaucy/fbreactions">Source Code</a>
    </div>
  </footer>

</body>
</html>
