<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
    .fbreaction {
      width: 50px;
      height:50px;
      background: url('official.png') 0px 0;
      background-size : 150% 150%;
    }

</style>
  </head>
  <body>
    <section>
      <div class="App ui centered aligned four column grid">
          <div class="location column">
            <span>香港</span>
            <img className='map' src="hkout.gif"></img>
          </div>
          <div className={chartClass}>
            <div id="hk-viz">
            </div>
          </div>
      </div>
    </section>
    <section>
      <div class="App ui centered aligned four column grid">
          <div class="location column">
            <span>香港</span>
            <img className='map' src="hkout.gif"></img>
          </div>
          <div className={chartClass}>
            <div id="tw-viz">
            </div>
          </div>
      </div>
    </section>

  </body>
</html>
