<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
    .fbreaction {
      width: 50px;
      height:50px;
      background: url('official.png') 0px 0;
      background-size : 150% 150%;
    }

</style>
  </head>
  <body>
    <div id="chart">
    </div>
  </body>
</html>
